@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(110,9,121,1) 63%, rgba(0,0,0,1) 100%);
    
}

fieldset {
    border: 0;
  
}

.container {
    width: 80%;
    height: 90vh;
    display: flex;
    flex-wrap: wrap; 

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.21);
}
   /* ---- imagens*/
.form-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6D0978;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
    max-width: 100%;
    height: auto;
    border-radius: 10px; 
}

.form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 3rem;
    
}

.form-header {
    margin-bottom: 2rem;
    text-align: center;
    
}

.form-header h1 {
    font-size: 2rem;
    color: #333;
    margin-right: 15.5rem;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background-color: #6D0978;
    margin: 8px auto;
    
    
}

.form-header h3 {
    font-size: 1rem;
    color: #6D0978;
    font-weight: 300;
    margin-top: 0.5rem;
}

.input-group {
    width: 100%;
    margin-top: 1rem;
}

.input-box {
    width: 100%;
    margin-bottom: 1.2rem;
}

.input-box input {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.8rem 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
}

.input-box input:hover {
    background-color: #f9f9f9;
}

.input-box input:focus-visible {
    outline: 2px solid #6D0978;
}

.input-box label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #333;
}

.input-box input::placeholder {
    color: #999;
}
 /* ---- parte debaixo*/
.campo p {
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.5rem;
}

.campo label {
    font-size: 0.9rem;
    color: #555;
    display: block ;
}

.campo label input {
    margin-right: 0.5rem;
    margin-bottom: 15px;
   
}

.continue-button button {
    width: 100%;
    margin-top: 2rem;
    border: none;
    background-color: #6D0978;
    padding: 0.75rem;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    transition: background-color 0.3s;
}

.continue-button button:hover {
    background-color: #5a0463;
}

.continue-button button a {
    text-decoration: none;
    color: inherit; /* Mantém a cor do botão */
}
